.search {
    height: 100%;
    position: relative;
    padding: 0 .05rem;
    .search-input {
        border: none;
        border-bottom: .01rem solid #999;
        width: 100%;
        height: 100%;
        outline: none;
        padding-left: .45rem;
        font-size: .14rem;
    }
    .search-content {
        height: calc(100vh - .4rem );
        li {
            display: block;
            padding: .09rem 0 .1rem .05rem;
            line-height: .23rem;
            border-bottom: .01rem solid #DBDBD0;
            position: relative;
            a {
                display: block;
                height: 100%;
                width: 100%;
            }
        }
    }
}

.loading {
    display: block;
    margin: .4rem auto 0;
}